<div>
    <label><h3>Nome</h3></label>
    <input type="text" name="name" value="<%= customer.name %>"> </div>
<div>
    <label><h3>Telefone</h3></label>
    <input type="text" name="phone" value="<%= customer.phone %>"> </div>
<div>
    <label><h3>Endereço</h3></label>
    <input type="text" name="address" value="<%= customer.address %>"> </div>
<div>
    <label><h3>Email</h3></label>
    <input type="email" name="email" pattern=".+@+.+" value="<%= customer.email %>"> </div>
<div>
    <label><h3>Senha</h3></label>
    <input type="password" name="password" value="<%= customer.password %>"> </div>