<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>Login Cliente</h2>
    <form action="/customer/login" method="POST" autocomplete="on">
        <label>email: </label>
        <input type="email" name="email" value="<%= email %> ">
        <label>senha: </label>
        <input type="password" name="password" value="<%= password %> ">
        <button type="submit">Entrar</button>
    </form>
    <h3><a href="/customer/new">Cadastro Cliente</a></h3>
</body>
</html>